[submodule "submodules/baas.io-sdk"]
	path = submodules/baas.io-sdk
	url = https://github.com/kthcorp/bropbox-ios.git
[submodule "submodules/AFNetworking"]
	path = submodules/AFNetworking
	url = git://github.com/AFNetworking/AFNetworking.git
